<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- dev css:assets -->
    <!-- base: normalize,color,hf.css -->
    <link rel="stylesheet" href="../generated/css/base.css" />
    <link rel="stylesheet" href="../generated/css/index.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% include blocks/index/header %>
    <% include blocks/index/footer %>
    <!-- dev js:assets -->
    <script src="../lib/js/a.require.js" data-main="../lib/js/main"></script>
    <script src="../generated/js/index.js"></script>
  </body>
</html>
