<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<style>
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    background-color: #282a36;
    margin: 10px 13px 10px 13px;
}
table {
	margin: 10px 0 15px 0;
	border-collapse: collapse;
}
td,th {	
	border: 1px solid #ddd;
	padding: 3px 10px;
}
th {
	padding: 5px 10px;	
}
a {
    color: #59acf3;
}
a:hover {
    color: #a7d8ff;
    text-decoration: none;
}
a img {
    border: none;
}
p {
    margin-bottom: 9px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
    line-height: 36px;
}
h1 {
    margin-bottom: 18px;
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}
blockquote {
    padding: 13px 13px 21px 15px;
    margin-bottom: 18px;
    font-family:georgia,serif;
    font-style: italic;
}
blockquote:before {
    content:"\201C";
    font-size:40px;
    margin-left:-10px;
    font-family:georgia,serif;
    color:#eee;
}
blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
}
code, pre {
    font-family: Monaco, Andale Mono, Courier New, monospace;
}
code {
	color: #ff4a14;
    padding: 1px 3px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
pre {
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    line-height: 16px;
    font-size: 11px;
    border: 1px solid #bf370f;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    background-color: #282a36;
    color: #ff4a14;
    font-size: 11px;
    padding: 0;
}
@media screen and (min-width: 914px) {
    body {
        width: 854px;
        margin:10px auto;
    }
}
@media print {
	body,code,pre code,h1,h2,h3,h4,h5,h6 {
		color: black;
	}
	table, pre {
		page-break-inside: avoid;
	}
}

em{font-style: normal;color:#8fb4eb;}
</style>
<title><%= title %></title>

</head>
<body>
<h1>电影记录</h1>

<h3>2013  3月</h3>

<hr />

<ul>
<li><code>The Loved Ones</code></li>
</ul>


<p>真是超级扭曲的电影啊，后来都得快进了。不过其实不难看，主要是那种折磨太让人难以忍受</p>

<ul>
<li><code>Wreck-It Ralph</code></li>
</ul>


<p>的确比Brave好看很多。最讽刺的是看完我就开始玩Candy Crush</p>

<ul>
<li><p><code>Olympus Has Fallen</code></p></li>
<li><p><code>G.I.Joe: Retaliation</code></p></li>
</ul>


<h3>2013  2月</h3>

<hr />

<ul>
<li><p><code>Silver Lining Playbook</code></p>

<p>一直找不到无聊与不无聊的临界点。按说这种平淡也算不上有新意的故事很容易无聊沉闷。当时看Larson And the Real Girl 其实好几次都看不下去了，但是看这部的时候一点这种感觉都没有</p>

<p>故事发生在费城，重要的元素之一是Eagle。又在考虑用能引起共鸣的因素来吸引观众的事情。城市，球队，相似的定位，相似的经历。但是电影又要在其中完成这些有着共同之处的人们在生活中没完成或是想完成的事情。是不是又可以归结于找平衡的问题了？</p>

<p><em>--to be continued--</em></p></li>
<li><p><code>Warm Bodies</code></p>

<p>  平淡无奇。当时唯一眼前一亮的是配乐，不过过了一段时间，把原声带下载下来，却没有丝毫感觉诶。听/Filmcast的几个主持人吐槽这部片子还是很可爱的，哈哈</p>

<p>  自己当时发现了Romeo&amp;Juliet的隐喻时还是很得意的</p>

<p>  James Franco的弟弟是第二男主角</p></li>
<li><p><code>A Good Day to Die Hard</code></p>

<p>  赶在首映的时候去看。预告片比影片本身精彩得多，欢乐颂用的多好啊。</p>

<p>  总觉得男主眼熟，IMDB之发现是第一季斯巴达克斯里的小金毛Varro</p></li>
<li><p><code>Killing Them Softly</code></p>

<p>  也太无聊了吧！当时居然那么期待。</p></li>
<li><p><code>Zero Dark Thirty</code></p>

<p>  非常喜欢。我觉得奥斯卡最佳影片提名里最好看的一部片子。剪辑的很出色。我觉得最难得的是把这么容易让我觉得long and boring的电影完全觉不到这个片子有两个半小时那么长。</p>

<p>  我本来很期待女主角能获奥斯卡最佳女主的，比JL的表演真的出色太多了。</p>

<p>  看过之后就觉得，也许应该考虑下这个和homeland的对比，电影和电视剧的着重点等等方面？现在脑子有点乱，想不清。毕竟Homeland我也是看过就忘。首先女主角会比H的女主Carrie讨喜的多，长得漂亮而且远没那么苦大仇深的神经质。就剧情来说，ZDT算是丰满了；而且由于是真实事件改编的电影，不会像Homeland那样有时过于添油加醋反而弄巧成拙</p></li>
<li><p><code>Safe Haven</code></p>

<p>  有点无聊吧，毕竟爱情片大多无聊。不过看到那封To Her我还是心酸的不行</p></li>
<li><p><code>Side Effect</code></p>

<p>  这两个月在电影院看过的最好的电影。有很多意料之外的东西让我觉得挺惊喜的。不过结局对于整个片子的基调有点过于happy ending了吧</p></li>
<li><p><code>The Collection</code></p></li>
<li><p><code>Smashed</code></p></li>
<li><p><code>The Perks of Being A Wallflower</code></p>

<p>  "We accept the love we think we deserve."</p></li>
</ul>


<h3>2013  1月</h3>

<hr />

<ul>
<li><p><code>Sinister</code></p>

<p>最大的感受是，Ethan Hawk怎么和James Franco越来越像了</p></li>
<li><p><code>Seven Psychopaths</code></p>

<p>最开始看到题目、看到阵容、看到预告片，想看的都疯了。没有想象的出色，但是Sam Rockwell在电影里描述的电影，让人眼前一亮</p>

<p><em>另：关于自焚的僧人，是确有其事（虽然是后来在豆瓣上看的吧）</em></p>

<p><em>1992年，Rage Against the Machine的同名专辑，就是以63年越南僧人自焚时流传下来的照片为专辑封面</em></p>

<p><em>[出处：http://music.douban.com/review/1774948/]</em></p></li>
<li><p><code>Pitch Perfect</code></p>

<p>  回美国的飞机上被迫看的，很催眠，2011年的片子还能傻到这种程度</p></li>
<li><p><code>Mama</code></p>

<p>  虽说音效什么的做的不错，也有被吓得一哆嗦的时候，不过虽然在电影院看，还是睡着了</p></li>
<li><p><code>Argo</code></p>

<p>  看的时候紧张死了，怎么说呢，从剧情什么的来讲还是难以免俗吧。这就属于那种制作的并不算巧妙精致，却还会让所有看过的人深深地喜欢的电影。 Ben Affelek is a much better director than an actor, much much better</p></li>
</ul>


<h3>2012 12月</h3>

<hr />

<ul>
<li><p><code>The Life of Pie</code></p>

<p>我真心觉得不好看，除了略黑暗的结尾。在电影院的时候不停地看表，不知道什么时候才能完</p></li>
<li><p><code>Despicable Me</code></p>

<p>复习的时候随便放的，还是挺可爱的小动画片</p></li>
<li><p><code>The Pianlist</code></p></li>
<li><p><code>寒战</code></p></li>
<li><p><code>1942</code></p></li>
</ul>


<h3>2012 11月</h3>

<hr />

<ul>
<li><p><code>007: Skyfall</code></p></li>
<li><p><code>Total Recall</code></p>

<p>毫无亮点。不过让人想起来那个“你相信谁”的故事</p></li>
</ul>


<h3>2012 10月</h3>

<hr />

<ul>
<li><p><code>People Like Us</code></p>

<p>头重脚轻. 看前半部分的时候完全不觉得冗长，后边就让人想快进了。但我想为这部电影的选角鼓掌</p></li>
<li><p><code>Lola Versus</code></p>

<p>看了十分钟，果断弃之</p></li>
<li><p><code>Sillent Hill</code></p>

<p>  很好看的恐怖片啊。每次Siren一响我就不由自主的紧张起来。</p></li>
<li><p><code>Sillent Hill 2</code></p></li>
<li><p><code>Jeff Who Lives At Home</code></p>

<p>  看这部电影，感觉就像一个絮絮叨叨的人在你面前讲了一个毫无重点的故事，他讲完以后，你有点莫名奇妙但是觉得这个人还算可爱</p></li>
<li><p><code>To Rome With Love</code></p>

<p>  6月是曾为在回国前看到这部片子煞费苦心的查，还是没看成。10月在飞机上偶然发现，看完，可能之前报的希望太高，看完只觉得是鸡肋片。演员阵容很不错，却并不是最适合角色的人选。Jesse和Alec各自对应的角色让二人几乎没有施展的余地，在我看来是浪费了两个如此出色的演员。最成功的当属Woody Ellen，太适合他所饰演的角色，谁叫他是导演呢</p></li>
<li><p><code>Taken 2</code></p>

<p>  简直假的不能再假了。</p></li>
</ul>


<h3>2012 9月</h3>

<hr />

<ul>
<li><p><code>生化危机5</code></p>

<p>好几次我以为电影完了但其实还没完，而且这部电影才80多分钟居然让我产生了如此的感觉</p></li>
<li><p><code>Looper</code></p>

<p>  预告片比电影精彩。但如果预告片透露过多电影的精彩之处，就适得其反了。我觉得Looper就是这样一个例子。中后部过于冗长，让我不禁一直看表。结尾是整个片子最讨人喜欢的地方。里边那个小孩一直让我想冲进屏幕里掐死他，长的这么遭人硌应的孩子也不多见吧</p></li>
<li><p><code>The Possesion</code></p>

<p>  小女孩都诡异成那样了，她的家人朋友都毫无感觉，不觉得她那样可怕而只是不停的说你还好吗，好像她没反应才是唯一奇怪的事情。我就一直不停在吐槽这一点是如此的不合逻辑</p></li>
</ul>


<h3>2012 夏</h3>

<hr />

<ul>
<li><p><code>涉外大饭店</code></p>

<p>这种电影就是英国人做的最合口味了。轻松欢快温暖人心，没有一点矫揉造作。这样的电影诠释了什么叫“娓娓道来”</p></li>
<li><p><code>A Better Life</code></p>

<p>  回国的飞机上，看了各种电影都看不下去，随便打开的这个，说不出为什么就被吸引了，细腻、真实，打动人心。6月看过的最好的电影</p></li>
<li><p><code>Prometheus</code></p>

<p>科幻外星版盗墓笔记</p></li>
<li><p>重温 <code>Match Piont</code></p></li>
<li><p>重温 <code>Fight Club</code></p></li>
<li><p><code>Wild Target</code></p>

<p>  冲着Bill Nighly去的，结果还挺失望。这么不错的阵容仍然让这片子成为平庸之作</p></li>
<li><p><code>赛德克·巴莱</code></p>

<p>  从始至终心情很复杂压抑。还好不是一个人看的。真是部好电影</p></li>
<li><p><code>蝙蝠侠前传3</code></p>

<p>  好难看啊。果然上一部是无法超越的</p></li>
</ul>

</body>
</html>
